// TEXT
$primary-clr-t: #353732;
$secondary-clr-t: #45525b;
$accent-clr: #ffffff;
$btn-clr-t: #575445;

// BG
$primary-bg-fon: #f2f2f2;

// FILL
$logo-fill: #45525b;
$icon-fill: #353732;
$icon-arrow: #575445;

// BTN
$bg-btn: #353732;
