.about {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 0 auto;
  }

  background-color: $section-bg-fon;
  padding: 0 20px 8px 20px;
}

.about-container {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include mobile {
    max-width: 280px;
  }

  width: 100%;
  padding-top: 32px;
  margin: 0 auto;
}

.about-box {
  @include tablet {
    display: flex;
    padding-top: 62px;
  }
}

.about-card-img {
  @include tablet {
    max-width: 505px;
    margin: 0;
    background-color: $accent-clr;
  }

  @include desktop {
    max-width: 507px;
  }

  margin: 0 0 32px 0;
}

.about-card-img-line {
  @include tablet {
    display: flex;
    background-color: transparent;
    max-width: 710px;
  }
}

.revers {
  flex-direction: row-reverse;
  margin-top: 32px;
}

.about-card-text {
  padding-left: 20px;
}

.article-card {
  padding-bottom: 32px;
}

.article-list {
  @include tablet {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.card-box {
  @include tablet {
    height: 146px;
  }

  position: relative;
  max-width: 243px;
  min-height: 134px;
  background-color: #fff;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.type-card {
  @include tablet {
    padding-top: 16px;
  }
  @include font(12px, 1);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $secondary-clr-t;
  padding: 20px 0 12px 0;
}

.type-card-p {
  @include tablet {
    padding: 32px 0 0 20px;

    &__revers {
      padding: 32px 20px 0 0;
    }
  }

  @include font(12px, 1);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
}

.card-title {
  @include font(25px, 1.3);
  font-weight: 200;
  padding: 0 0 16px 0;
}

.card-title-artcl {
  @include tablet {
    &__revers {
      padding: 12px 20px 12px 0;
    }
  }
  @include font(16px, 1.4);
  font-weight: 200;
  padding: 12px 0 8px 20px;
}

.card-title-artcl-line {
  @include tablet {
    @include font(18px, 1.4);
  }
}

.card-title-artcl-sl {
  @include font(16px, 1.4);
  font-weight: 200;
  padding: 10px 0 20px 20px;
}

.card-description {
  @include tablet {
    width: auto;
  }
  letter-spacing: 0.05em;
  width: 280px;
}

.date {
  @include tablet {
    padding: 12px 0 6px 0;
  }
  @include font(11px, 1.5);
  padding: 20px 0 6px 0;
}

.date-p {
  @include tablet {
    &__revers {
      padding: 0 20px 0 0px;
    }
  }
  @include font(11px, 1.5);
  padding: 0 0 0 20px;
}

// SLIDER
.slider {
  @include tablet {
    display: none;
  }

  max-width: 243px;
  margin: 0 auto;
}

.article-card-slider {
  @include tablet {
    display: none;
  }

  padding-bottom: 24px;
  width: 243px;
}

.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: none !important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.no-slider {
  display: none;
  @include tablet {
    padding: 16px 0 50px 0;
  }
}

.article-card-list {
  @include tablet {
    display: flex;
  }
}

.article-card-item {
  @include tablet {
    max-width: 240px;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.swipe {
  position: absolute;
  bottom: 0px;
  right: 5px;
  transform: rotate(15deg);
  overflow: hidden;
  fill: $icon-swipe;
  animation-name: attenuation;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
  // animation-iteration-count: infinite; - безкінечна анімація
}

@keyframes attenuation {
  0% {
    fill: $icon-swipe;
  }

  50% {
    fill: #e5e5e5;
    transform: rotate(0deg);
  }

  100% {
    fill: $icon-swipe;
  }
}

.swipe:hover,
.swipe:active {
  animation-name: attenuation1;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
}

@keyframes attenuation1 {
  0% {
    fill: $icon-swipe;
  }

  50% {
    fill: #e5e5e5;
    transform: rotate(0deg);
  }

  100% {
    fill: $icon-swipe;
  }
}
