.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: $header-bg-fon;
}

.burger-menu {
  fill: $logo-fill;
  max-height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: none;
}
