.header-container {
  @include tablet {
    padding: 20px 52px;
  }

  @include desktop {
    padding: 20px 148px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: $header-bg-fon;
}

.burger-menu {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
  fill: $logo-fill;
  max-height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: none;
}

.logo-s {
  @include tabletMin {
    min-width: 78px;
  }
}

.header-list {
  @include tabletMin {
    display: flex;
  }
  display: none;
}

.header-item {
  @include desktop {
    margin-right: 52px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-link {
  @include tablet {
    @include font(16px, 1.1);
  }

  @include desktop {
    font-size: 18px;
  }
}
