.subscription {
  @include tablet {
    max-width: 376px;
  }

  @include desktop {
    display: flex;
    min-width: 768px;
  }

  position: relative;
  background-color: $primary-bg-fon;
  padding: 62px 0 62px 0;
  max-width: 280px;
  margin: 0 auto;
}

.subtitle-subscr {
  @include tabletMin {
    font-size: 28px;
  }

  @include font(26px, 1.3);
  font-weight: 200;
  padding-bottom: 20px;
  columns: $secondary-clr-t;
  margin: 0;
}

.text-subscr {
  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }

  padding-bottom: 32px;
}

.subscr-form {
  @include tablet {
    max-width: 376px;
  }

  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 280px;
  color: $secondary-clr-t;
  padding-top: 32px;
}

.data-field {
  @include tablet {
    max-width: 376px;
  }
  display: block;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.data-input {
  @include tablet {
    min-width: 376px;
    min-height: 38px;
  }

  display: block;
  position: relative;
  font-family: 'Georgia', serif;
  min-width: 280px;
  min-height: 38px;
  margin: 0;
  border: 1px solid $stroke-clr;
  border-radius: 8px;
  padding-left: 10px;
  color: $secondary-clr-t;

  &:focus {
    outline: none;
    border: 1px solid $stroke-clr-focus;
  }

  &::placeholder {
    color: #dfdfdf;
  }
}

.data-text {
  @include desktop {
    top: -65%;
    left: 11px;
  }
  position: absolute;
  top: -55%;
  left: 3px;
}

.btn-subscr {
  @include desktop {
    position: relative;
    bottom: 20px;
    left: 0;
    cursor: pointer;
  }

  position: absolute;
  line-height: 1.9;
  letter-spacing: 0.5em;
  bottom: 7%;
  left: 4px;
  padding: 9px 22px;
  border-radius: 6px;
  background-color: $bg-btn;
  color: $accent-clr;
  outline: none;
  border: none;
}
